.btn-buy {
    background-color: #b8ac66;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 7px;
    transition: all ease 0.8s;
    margin-left: 20px;
}

.btn-conf {
    background-color: #3b7255;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    border-radius: 7px;
    margin-left: 20px;
}

.btn-conf:hover {
    background-color: #3b7255d9;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    border-radius: 7px;
    margin-left: 20px;
}

.btn-buy:hover {
    background-color: #686139;
    border-radius: 2px 30px;
    transition: all ease 0.8s;
    color: rgb(255, 255, 255);
}

.btn.btn-back {
    padding: 11px 25px;
    border-radius: 7px;
    color: white;
    background-color: #1b2f72d2;
}

.btn.btn-login {
    background-color: #312f50;
    border-radius: 5px;
    color: white;
    font-family: PT serif;
    font-weight: bold;
    padding: 10px 20px;
}

.btn.btn-user {
    background-color: rgb(170, 139, 45);
    border-radius: 14px;
    color: white;
    font-family: PT serif;
    font-weight: bold;
    padding: 10px 30px;
}


.btn.btn-keranjang2 {
    padding: 11px 20px;
    background-color: #61606f;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    font-family: PT Serif;
    position: relative;
}

.btn-keranjang2:hover {
    background-color: #525252;
    color: #e0e0e0;
    transition: all ease 0.8s;
}

.btn-keranjang2 .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 7px 10px;
    border-radius: 50%;
    background: rgb(113, 114, 167);
    color: white;
}

/* Navbar */
.navbar {
    height: 90px;
    background-color: #212138fc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* display: block; */
    transition: top 0.5s;
}

.navbar .navbar-brand {
    font-family: Marck Script;
    color: #ffffff;
    font-size: 30px;
}

.navbar-nav .nav-item {
    font-family: PT Serif;
    margin-inline-end: 30px;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: rgb(170, 139, 45);
    transition: 0.4s;
}


.navbar-nav .nav-item:hover::before,
.navbar-nav .nav-item:hover::after {
    width: 100%;
    left: 0%;
}


a.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 1.5px;
    background-color: rgb(170, 139, 45);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
    transition: all 0.4s;
}

.dropdown-item:hover {

    background-color: #312f50;
}

/* HEADER */
.jumbotron {
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(56, 53, 99, 0.73)),
        url('/images/story.jpg');
    /* background-image: url('/images/story.jpg'), linear-gradient(#eb01a5, #d13531); */
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* border-bottom: 5px solid grey; */
    z-index: -2;
}

.jumbotron .intro {
    padding-top: 190px;
    text-align: center;
}

.jumbotron h3 {
    font-family: Marck Script;
    color: #ffffff;
    font-weight: bold;
    font-size: 7rem;
}

.jumbotron p {
    color: rgb(207, 207, 207);
    font-family: PT serif;
    margin-top: 20px;
    font-size: 20px;
    padding-inline: 140px;
}

.jumbotron a.btn {
    background-color: none;
    font-family: PT serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 40px;
    border: 3px solid white;
    /* border-radius: 10px; */
    transition: 0.6s;
    position: relative;
    z-index: 1;

    overflow: hidden;

}

.jumbotron a.btn::before {
    content: "";
    position: absolute;
    left: -8%;
    width: 110%;
    height: 0%;
    background-color: #f8f8f8;
    z-index: -1;
    transition: 0.6s ease;
}


.jumbotron a.btn-jumbroton::before {
    top: 0;
    border-radius: 0% 0 60% 0%;
}

.jumbotron a.btn.btn-jumbroton:hover::before {
    height: 190%;

}

.jumbotron a.btn.btn-jumbroton:hover {
    color: rgb(43, 43, 43);
}

/* garis */
hr {
    border-top: 4px solid #48487F;
    width: 180px;
    opacity: 100%;
}

/* CATEGORY */

.category {
    padding-block: 90px;
    background-color: #e9e9e9;
}

.category .box {
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.category h2 {
    font-family: Marck Script;
    font-weight: bold;
    font-size: 3rem;
}

.category .card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

.category .card {
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, .1);
    border-radius: 20px;
    transition: 0.6s;
    background-color: rgb(238, 238, 238);
}

.category .card img {
    border-radius: 19px 19px 0px 0px;
}

.category .card:hover {
    transform: translateY(-50px);
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, .2);
    background-image: linear-gradient(to right top, #cfcaca, #b3b0c2, #9894b3, #706d99, #48487f);

    transition: 0.6s;
    color: white;
}


.category .card h5 {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: PT serif;
}

.category .card p {
    color: rgb(32, 32, 32);
    font-size: 1rem;
    font-family: PT serif;
}

.category .card:hover h5 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: PT serif;
}

.category .card:hover p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: PT serif;
}

.category .card a {
    background-color: #3c3c86;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-family: PT serif;
    transition: 0.6s;
}

.category .card .card-body a:hover {
    background-color: transparent;
    border: 2px solid white;
    transform: scale(1);
    transition: 0.6s;
}

/* OUR STORY */

.story {
    background-image: linear-gradient(to right top, #e9e9e9, #c0bece, #9894b3, #706d99, #48487f);
}

.story .story-intro {
    padding-block: 140px;
}

.story-intro::before {
    content: "";
    height: 190px;
    width: 6px;
    position: absolute;
    background: linear-gradient(40deg, #48487F, #afb2b4);
}

.story h2 {
    width: 50%;
    font-size: 3rem;
    font-family: Marck Script;
    font-weight: bold;
    margin-left: 20px;
}

.story h3 {
    font-size: 18px;
    width: 500px;
    font-family: PT Serif;
    color: rgb(58, 58, 58);
    text-align: justify;
    margin-left: 20px;
}


.story a.btn-story {
    background-color: #48487F;
    color: white;
    transition: 0.6s;
    font-family: PT serif;
    font-size: 1rem;
    font-weight: 400;
}

.story a.btn-story:hover {
    background-color: #474766;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(60, 44, 104, 0.829);
    transition: 0.6s;
    transform: scale(1.1);
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 2px 40px 2px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.466);
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 650px;
    height: 450px;
    background-size: cover;
}


a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 98;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #3d537a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

/* Available */
.available {
    background-color: #e9e9e9;
    height: 100vh;
    padding-top: 180px;
}

.available h2 {
    font-family: Marck Script;
    font-weight: bold;
    font-size: 3rem;
}

.available h3 {
    font-family: PT Serif;
    font-size: 20px;
    padding-inline: 80px;
}

.available img.tokped {
    width: 20%;
    height: 14%;
    transition: 0.6s;
    position: absolute;
    left: 30%;
}

.available img.shoppe {
    border-radius: 28px;
    width: 20%;
    height: 10%;
    margin-top: 16px;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
    position: absolute;
}

.available img.tokped:hover {
    transition: 0.6s;
    transform: scale(1.1);
}

.available img.shoppe:hover {
    transition: 0.6s;
    transform: scale(1.1);
}


/*footer*/
.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #212138;
    padding: 10px 0px 25px 0px;
    font-family: PT serif;

}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

/* Product Page*/

.jumbotron2 {
    background-image:
        linear-gradient(to bottom, rgba(168, 155, 38, 0.52), rgba(74, 81, 122, 0.73)),
        url('/images/story.jpg');
    /* background-image: url('/images/story.jpg'), linear-gradient(#eb01a5, #d13531); */
    height: 50vh;
    background-position: center;
    background-size: cover;
    /* border-bottom: 5px solid grey; */
    z-index: -2;
    margin-bottom: 50px;
}

.jumbotron2 .intro {
    padding-top: 170px;
    text-align: center;

}

.jumbotron2 h3 {
    font-family: Marck Script;
    color: #ffffff;
    font-weight: bold;
    font-size: 7rem;
}

.product h4 {
    color: rgb(170, 139, 45);
    font-family: PT Serif;
    font-weight: bold;
}

.text-pro p:nth-child(1) {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 19px;
}

.text-pro p:nth-child(2) {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(201, 201, 201);
}

.title h1 {
    text-align: center;
    font-family: Marck Script;
    font-weight: bold;
    font-size: 4rem;
    padding-top: 90px;
}

.filter-btn {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    font-family: PT serif;
    background-color: #aaa38e;
    transition: all 0.7s;
    padding: 10px 40px;
    font-weight: bold;
    color: rgb(248, 247, 247);
    margin-inline: -5px;
    border: 1px solid rgb(223, 223, 225);
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #46465e;
    color: rgb(255, 255, 255);
    border-radius: 0px 50px;
    transition: all 0.6s;

}



.gallery {
    margin-bottom: 25px;
    overflow: hidden;
    background-color: #4e4e844a;
    padding: 55px;
}

.gallery .img-wrapper {
    position: relative;
    transition: all 0.5s ease;
}

.gallery a img {
    /* float: left; */
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    border: 15px solid #ac9f77;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}

.gallery a img:hover {
    /* float: left; */
    transform: scale(1.1);
    transition: all 0.5s;
    border: 1px solid #121213fb;
}

/* .gallery:hover {
    transition: all 0.6s ease;
    transform: scale(1.1);
} */

/* COMPANY PAGE */

.about .company img {
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.about h2 {
    font-family: PT Serif;
    font-size: 4rem;
    font-weight: bold;
}

.about p {
    font-family: PT Serif;
    text-align: justify;
    padding-right: 25px;
}

#slideshow {
    margin-left: 28px;
    position: relative;
    width: 505px;
    height: 505px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
    position: absolute;
    left: 12px;
    right: 10px;
    bottom: 12px;
}

/* Detail Page */



.detail h2 {
    font-family: PT Serif;
    font-size: 3rem;
    font-weight: bold;
}

.detail h3 {
    font-family: PT Serif;
    font-size: 2rem;
    font-weight: bold;
}

.detail p {
    font-family: PT Serif;
    text-align: justify;
}

.detail .desc p:nth-child(2) {
    color: rgb(146, 146, 146);
    font-weight: bold;
}

.garis-detail {
    width: 530px;
    height: 1px;
    background-color: rgb(240, 240, 240);
}


.wrap-detail {
    margin-top: 100px;
    background-color: #ececec;
    padding: 100px;
}

.detail-page img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 25px solid white;
}

.detail-page .btn {
    font-family: PT Serif;
    font-size: 1rem;
    font-weight: bold;
}

.form-order {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-inline: 50px;
    margin-top: 120px;
    padding-block: 50px;
}

/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #dadada;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #5a6daa;
    border: 1px solid #efefef;
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    font-weight: bold;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #77809e;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

.modal-content {
    width: 370px;
    height: 590px;
    background-color: #7e6f4d;
    background-image: linear-gradient(135deg, #393157 0%, #383c79 100%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label.label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input.input{
	width: 80%;
	height: 45px;
	background: #eee;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.login{
	height: 400px;
    /* width: 100%; */
	background: rgb(218, 217, 217);
	border-radius: 50% / 5%;
	transform: translateY(15px);
	transition: .8s ease-in-out;
    padding-bottom: 510px;
}
button.btn-modal{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #6d79d4;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button.modal:hover{
	background: #6d44b8;
}
.login label.label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-395px);
}

#chk:checked~.login label.label {
    transform: scale(1);
}

#chk:checked~.signup label.label {
    transform: scale(.6);
}


/* CONTACT PAGE */

.form-send {
    box-shadow: rgba(41, 40, 112, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.contact {
    padding-top: 130px;
}

.form-send {
    padding-block: 70px;
}

.form-send label {
    font-family: PT Serif;

}

.form-send h2 {
    font-family: Marck Script;
    font-weight: bold;
}

.form-send p {
    font-family: PT Serif;
}

.form-send .form-control {
    border: none;
    background-color: #cfcfcf;
    font-family: PT Serif;
}

.form-send .btn-submit {
    background-color: #48487F;
    color: white;
    transition: 0.6s;
    font-family: PT serif;
    font-size: 1rem;
    font-weight: 400;
}

/* Total Page */
.total h1 {
    font-family: PT serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;

}

.total hr.kuitansi {
    border-top: 2px solid #bdbdbe;
    width: 460px;
    opacity: 100%;
    color: #bdbdbe;
}

.total .wrap {
    margin-inline: 250px;
    padding: 30px;
    margin-bottom: 90px;
    box-shadow: rgba(41, 40, 112, 0.35) 0px 5px 15px;
}

/* logo wa */
.float-wa {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    padding: 10px;
}



/* logo wa */
.float {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    padding: 10px;
}

#blink {
    font-size: 30px;
    font-weight: bold;
    font-family: PT Serif;
    color: #4a8d52;
    transition: 0.3s;
}